@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'pretendard';
    src: url("../Pretendard-1.3.9/public/static/Pretendard-Medium.otf");
}

html {
    font-family: 'pretendard';
}