@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width : 768px) {
    .content .video .pf-in {
        width: 45%;
    }
    ul {
        flex-wrap: wrap;
    }
    li {
        width: 50%;
    }
    .content {
        top: 80px;
    }
}

@media screen and (max-width : 400px) {
    .content .video .pf-in strong {
        font-size: 0.8rem;
    }
    .content .video .pf-in h3 {
        font-size: 1.8rem;
    }
}